<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
<header th:insert="fragments :: nav"></header>

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            Detalles de la Venta
        </div>
        <div class="card-body">

            <p class="card-text" th:text="'Nombre Cliente: ' + ${venta.nombreCliente}"></p>
            <p class="card-text" th:text="'cedula Cliente:' + ${venta.cedulaCliente}"></p>
            <p class="card-text" th:text="'telefono Cliente:' + ${venta.telefonoCliente}"></p>
            <p class="card-text" th:text="'marca vehiculo:'+ ${venta.marcaVehiculo}"></p>
            <p class="card-text" th:text="'placa  vehiculo:' + ${venta.placaVehiculo}"></p>
            <p class="card-text" th:text="'tipo vehiculo:' + ${venta.tipoVehiculo}"></p>
            <p class="card-text"  th:text="'hora entrada: '+  ${#dates.format(venta.horaEntrada, 'yyyy-MM-dd''T''HH:mm')}"></p>
            <p  class="card-text" th:text="'hora salida:' + ${#dates.format(venta.horaSalida, 'yyyy-MM-dd''T''HH:mm')}"></p>
            <p  class="card-text" th:text="'venta Empleado:' + ${venta.empleado}!=null? ${venta.empleado.nombre}:''"></p>
            <p  class="card-text" th:text="'venta producto: ' + ${venta.producto}!=null? ${venta.producto.nombre}:''"></p>
            <p  class="card-text" th:text="'valor venta:' + ${venta.valorVenta}"></p>


            <a th:onclick="imprimir();" class="">
                <i class="fas fa-solid fa-print"></i>
            </a>

            <a th:href="@{/producto/lista}" class="">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function imprimir(){
        print();
    }
</script>
<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>